{{ define "main" -}}
 <!-- TOC -->
    {{ if and (ge (len .TableOfContents) 100) (ne .Params.toc "false")  }}

      <div id="toc" class="w3-dropdown-hover w3-hide-small w3-hide-medium">
    <button class="w3-button w3-teal w3-xlarge">&#9776;</button>
    <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
         
          <h3 class="w3-center">{{T "toc"}} </h3>
            {{.TableOfContents}}
         
      </div>

     
      </div>
    {{ end }}

 <!-- Back to top -->
    {{ if .Site.Params.backtotop }}
      <div id="backtotop" class="w3-hide-small w3-hide-medium">
  
        <button onclick="topFunction()" class="w3-btn w3-red w3-large" style="width:160px">{{ T "backtotop"}}
        &rarr;</button>
        
      </div>

      <script>
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
      }
      </script>


    {{ end }}
<script>
// When the user scrolls down 50px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  <!-- TOC -->
    {{ if and (ge (len .TableOfContents) 100) (ne .Params.toc "false")  }}
    
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("toc").style.display = "block";
    } else {
        document.getElementById("toc").style.display = "none";
    }
    {{ end }}
<!-- Back to top -->
    {{ if .Site.Params.backtotop }}
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("backtotop").style.display = "block";
    } else {
        document.getElementById("backtotop").style.display = "none";
    }
    {{ end }}
}


</script>

     


  <div class="w3-content w3-card-4" >
    <!-- post-header -->
    <header class="w3-container w3-center w3-padding-32">
      <h1>{{ .Title }}</h1>

      <div >
        <p> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} 
          {{ if .Site.Params.readingtime }}
             <code> {{ T ("wordCount") .WordCount }}  </code>
             <code> {{ T "readingTime" .ReadingTime }} </code>
          {{ end }}
        </p>
        {{ with .Params.categories -}}
          <div >
            {{ range . }}
              <a class="w3-btn w3-small w3-round w3-green" href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
            {{ end }}
          </div>
        {{- end }}
       
        
      </div>
    </header>

   
    <!-- Content -->
    <div class="w3-container">
      {{ .Content }}
    </div>

    
   

    <div class="w3-container">
    	
      {{ with .Params.tags -}}
        <div class="w3-container">
        	<hr class = "tag">
        Tags: 
          {{ range . }}
          <a class="w3-btn w3-small w3-round w3-green" href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
          <hr class = "tag">
       
        </div>
      {{- end }}
     
	</div>



  


    {{ if .Site.Params.relatedPosts }}
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <div class="w3-container">
        <!-- related content -->
        <h2>Related Articles:</h2>
        <ul class="w3-ul w3-hoverable">
            
            {{ range . }}

              <li class="w3-padding-large"><span class="date">{{ .Date.Format "2006/01/02" }}</span> &nbsp; <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}
    <br>  
</div>

<!-- Author and License -->
{{ if .Site.Params.authorandlicense }}
<div class="w3-container w3-card-2 w3-black">
<div class="w3-row">
  <div class="w3-col l2 m2 s12 w3-center">
  
    <img src="{{ .Site.Params.authorimgurl }}" width ="100px" class="w3-circle w3-center w3-margin-top w3-margin-bottom" alt="author" >
   
  </div>
  <div class="w3-col l10 m10 s12 ">
  <div class = "w3-container w3-margin-top">
    {{ .Site.Params.authorinfo | safeHTML }}
    {{ .Site.Params.licenseinfo | safeHTML  }}
  </div>
  </div>
  </div>
</div>
{{ end }}
      <!-- Post Pagination -->
    <div class="w3-content" > 
      <div class="w3-bar w3-section">
	     {{ with .NextInSection }}
	      <a  href="{{ .URL }}" class="w3-btn w3-text-indigo w3-hover-green">
	          &#10094; {{ .Title }}
	      </a>
	    {{- end }}
	    {{ with .PrevInSection }}
	      <a class="w3-btn w3-right w3-text-indigo w3-hover-green" href="{{ .URL }}">
	       {{ .Title }} &#10095;
	      </a>
	    {{- end }}
  	  </div>
    </div>
	
 

  <!-- w3colorjs -->
  {{ if  (.Params.w3codecolor) }}
      
      <script src="{{ "/js/w3codecolor-min.js" | relURL }}"></script>

      <script>
      w3CodeColor();
      </script>
  {{- end -}}

  



{{- end }}


