{{ block "customphp" . }}{{ end }}
<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  
  {{ partial "head.html" . }}
  {{ block "customseo" . }}{{ end }}
</head>
<body class="w3-light-grey">
  <div class="w3-content">
  
    
    <header id="header">
      {{ block "customheader" . }}   
        {{ partial "header.html" . }}
      {{ end }}
    </header>
    

    
      <div>
        <div id="content" >
          {{ block "main" . }}{{ end }}
        </div>
        {{ block "commentornotes" . }}   
          {{ partial "comments.html" . }}
        {{ end }}
        
      </div>
    

   
    <footer id="footer" >
      {{ partial "footer.html" . }}
    </footer>
    

    
  </div>
{{ if .Site.Params.socialshare }}
  {{ partial "socialshare.html" . }}
{{ end }}
</body>
</html>
